<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coffee house</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    body {
      width: 100vw;
      height: 100vh;
      background-color: #eee;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    body img {
      width: 100%;
      height: 100%;
      filter: blur(8px);
    }

    body .content {
      z-index: 1;
      padding: 10px 20px;
      border-radius: 3px;
      position: absolute;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      background: rgba(255, 255, 255, .8);
    }

    body .link {
      margin-top: 10px;
    }
  </style>
</head>

<body>
  <div class="content">
    <h1 class="title">Wellcome to Coffee house</h1>
    <a class="link" href="">go to Home Page</a>
  </div>
  <img src="https://coffeeordie.com/wp-content/uploads/2020/01/AdobeStock_269016655-1024x576.jpeg" alt="" srcset="">
</body>

</html>